[submodule "facenet-pytorch"]
	path = facenet-pytorch
	url = https://github.com/Hadleigh-Schwartz/facenet-pytorch.git
[submodule "mediapipe_pytorch"]
	path = mediapipe_pytorch
	url = https://github.com/Hadleigh-Schwartz/mediapipe_pytorch.git
[submodule "deconstruct-mediapipe"]
	path = deconstruct-mediapipe
	url = https://github.com/Hadleigh-Schwartz/deconstruct-mediapipe.git
[submodule "BlazeFace-PyTorch"]
	path = BlazeFace-PyTorch
	url = https://github.com/Hadleigh-Schwartz/BlazeFace-PyTorch.git
